<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

   <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/campustalk</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">root</property>
   <property name="show_sql">true</property>
   <property name="hibernate.hbm2ddl.auto">update</property>
   <property name="hibernate.jdbc.batch_size">50</property>
   
   <!-- List of XML mapping files -->
   
   	 <mapping resource="vo/Complain.hbm.xml"/> 
     <mapping resource="vo/Blogs.hbm.xml"/>
     <mapping resource="vo/Events.hbm.xml"/>
     <mapping resource="vo/Notice.hbm.xml"/>
     <mapping resource="vo/Registration.hbm.xml"/>
     <mapping resource="vo/Documents.hbm.xml"/>
     <mapping resource="vo/Answer.hbm.xml"/>
     <!--<mapping resource="vo/FacultyUpload.hbm.xml"/>-->
     <mapping resource="vo/Feedback.hbm.xml"/> 
     <mapping resource="vo/Question.hbm.xml"/>
     
</session-factory>
</hibernate-configuration>